body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

h3,h4,h6 {
    margin: 0;
    padding: 0;
}

button {
    background: #3882f6;
    color: #e5e7eb;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.headlinks {
    font-size: 18px;
    display: flex;
    margin-left: auto;
    column-gap: 20px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.header-box,.top-box,.footer {
    background: #1f2937;
    flex: 1;
}

.info-box,.bottom-box {
    background: white;
    flex: 1;
}

.quote-box {
    background: #e5e7eb;
    flex: 1;
}

.header {
    margin: 0 10%;
}

.top,.info-sect,.quote-sect,.bottom {
    margin: 50px 10%;
}

.footer {
    margin-top: auto;
}

.header {
    display: flex;
    padding: 5px;
}

.top {
    display: flex;
    color: #e5e7eb;
    font-size: 18px;
}

.top-main {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

.top-right {
    background: grey;
    display: flex;
    align-items: center;
    text-align: center;
}

.top-signup {
    margin-top: 5px;
}

.info-pics-whole {
    display: flex;
    justify-content: center;
    text-align: center;
}

.info-head {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.pics-w-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    width: 200px;
}

.info-img {
    border: solid #3882f6;
    width: 200px;
    height: 150px;
    justify-self: center;
}